          <div class="column">
            <div class="column-strip" style="background:#4ADE80;"></div>
            <div class="column-header">
              <div class="flex items-center">
                <span class="column-name">Done</span>
                <span class="column-count">00</span>
              </div>
            </div>
            <div class="column-body">
              <button class="add-task-btn" style="margin-top:8px;">
                <INCLUDE _add-task-icon.html />
              </button>
            </div>
          </div>
